/*	
	John Battaglia
	Eric Gardner
	Ahmed Altai
	CIS 435 - Fall 2014
	Term Project
	File: styles.css
								*/

p, tr, td, table, a, h1, span
{
    font-family: sans-serif;
    /*font-size: 12px;*/
}

tr, td
{
	border-color: blue;
    border-width: 1px;
}

body
{
    background:  #DDD;
}

table,td,th
{
	border:				1px solid black;
	border-collapse:	collapse;
	padding:			3px;
}
th
{
	background:			#CCC;
}
tr:nth-child(even)
{
	background:			#EEE;
}

#wrapper
{
	box-shadow: 0px 0px 10px -5px black;
    margin-left : 10%;
    margin-right : 10%;
    background-color: red;
    border-width: 2px;
}

#header
{
    background: white;
    padding: 25px;
    height: 50px;
    /*font-family: Tahoma, Geneva, sans-serif;*/
    background-color: #white;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
}

#nav
{
	background: white;
    width: auto;
    height: 40px;
    /*font-family: Tahoma, Geneva, sans-serif;*/
    /*font-weight: bold;*/
    text-align: center;
    background-color: white;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

#section
{
    background: white;
    padding: 25px;
    height: 100%;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
}

#footer
{
    text-align: center;
    background: white;
    padding: 5px;
    position: relative;
    border-color: blue;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0px;
}

#logInOut
{
    width:150px;
    float:right;
    border-left: 1px dashed #aaa;
    padding-left: 15px;
}

#siteName
{
    float:left;
    font-size: 32px;
}

#systemInfo
{
    
}

#body
{
    border-width: 2px;
    border-radius: 8px;
}

#nav ul
{
    height: auto;
    padding: 8px 0px;
    margin: 0px;
    list-style-type: none;
}

#nav li
{
    display: inline; 
    padding: 15px; 
}

#nav a
{
    text-decoration: none;
    color: #00F;
    padding: 8px 8px 8px 8px;
}

#nav a:hover
{
    color: #F90;
    background-color: #FFF;
}

#login li.link
{
    margin-top: 5px;
}
