/*	
	John Battaglia
	Eric Gardner
	Ahmed Altai
	CIS 435 - Fall 2014
	Term Project
	File: styles.css
								*/

#header {
    width: auto;
    height: 100px;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #white;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
}

#logInOut {
    width:120px;
    float:right;
    border-left: 1px dashed #aaa;
    padding-left: 15px;
}

#siteName {
    float:left;
    font-size: 32px;
}

#systemInfo {
    
}

#body {
	background-color: white;
	border-width: 2px;
    border-radius: 8px;
}

#wrapper {
	margin-left : 10%;
	margin-right : 10%;
	background-color: #white;
    border-width: 2px;
    border-radius: 8px;
}

#nav {
	width: auto;
    height: 40px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
    background-color: #white;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
}

#nav ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
    list-style-type: none;
}

#nav li { 
	display: inline; 
	padding: 20px; 
}

#nav a {
    text-decoration: none;
    color: #00F;
    padding: 8px 8px 8px 8px;
}

#nav a:hover {
    color: #F90;
    background-color: #FFF;
}

#section {
	height: 100%;
	border-radius: 8px;
    border-style: solid;
    border-width: 2px;
}

#footer {
	text-align: center;
    background-color: #white;
    width: 100%;
    bottom: 0;
    position: relative;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
}

#login li.link {
	margin-top: 5px;
}

